DISCORD_TOKEN = ""
GITHUB_PERSONAL_TOKEN = ""
GITHUB_APP_ID = ""
DISCORD_SERVER_STAFF_ROLE_ID = ""
DISCORD_SERVER_ID = ""
GITHUB_OAUTH_ID = ""
GITHUB_OAUTH_SECRET = ""
GITHUB_APP_PRIVATE_KEY = """
	the entire contents of your .pem file from GitHub goes here (triple speech marks for allowing multiline literal strings)
"""